\ --- Simulation executable files ---
simulation1
simulation2
\ --- Intermediate compilation files ---
*.bin
*.elf
*.dis
\ --- Makefile intermediate files ---
make.dep
\ --- waveform ---
*.ghw
\ --- Memories ---
ram.bin.hex
rom.bin.hex
rom.sim
ram.sim
\ --- flash ---
flash.in
\ --- zpu output ---
trace.txt
